<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Download Files</title>
</head>
<body>
    <h1>Download Files</h1>
    <form action="/download">
        <label for="download">Download</label>
        <input id="download" type="submit" value="download">
    </form>
</body>
</html>