<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT License. -->
<% layout('layouts/layout.ejs') %> 
<!-- <LayoutSnippet> -->
<div class="container">
    <h1 class="mb-3">To-Do Task Lists</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody>
            <% for (let toDoTasklist of toDoTasklists) { %> 
                <tr>
                    <td><%= toDoTasklist.title %></td>
                </tr> 
            <% } %> 
        </tbody>
    </table>
    <!-- </LayoutSnippet> -->        
</div>